<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="selenium_tutorial.Tc_006_Login"/>
      <class name="selenium_tutorial.Tc005_Wait_Class"/>
      <class name="selenium_tutorial.MouseAndKeyboardOperations"/>
      <class name="selenium_tutorial.Tc_002_KeyboardActionKeys2"/>
      <class name="test.ted.com.TC1"/>
      <class name="selenium_tutorial.Tc_004_Dropdown_Selections"/>
      <class name="selenium_tutorial.Tc_002_KeyboardActionKeys"/>
      <class name="selenium_tutorial.Tc_001_Registration_Functions"/>
      <class name="selenium_tutorial.Tc_003_Mouse_Operation"/>
      <class name="selenium_tutorial.Tc_001_Registration_Firefolks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
